[submodule "lib/iroh"]
	path = vendor/iroh
	url = https://github.com/n0-computer/iroh
[submodule "lib/iroh-gossip"]
	path = vendor/iroh-gossip
	url = https://github.com/n0-computer/iroh-gossip
[submodule "lib/matchbox"]
	path = vendor/matchbox
	url = https://github.com/Sparganothis/matchbox
